*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}


header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	position: absolute;
	left: 2%;
	top:1%;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

#titulo-form{
	margin-top: 60px;
	padding-top: 8px;
}

#form-adiciona{
	border: 1px solid #ccc;
	margin-bottom: 4em;
	padding-left: 1em;
	border-radius: 7px;
}

table{
	width: 100%;
	margin-bottom : .5em;
	table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: rgb(70, 150, 75);
	color: white;
	border: 2px solid white;
	border-radius: 8px;
}
tr{
	border: solid .5px rgb(172, 179, 171);
	height: 2em;
}

label{
	color: #555;
	display: inline;
	margin: 1em;
	font-weight: bold;
	
}

.lupa-icon{
	top: 10em;
	position: absolute;
	height: 2em;
	padding: 2px;
	border-radius: 7px;
	box-shadow: 1px 1px #000;
}
.lupa-icon:hover{
	opacity: 1;
}

#filtrar-tabela{
	position: relative;
	border-radius: 7px;
	border: none;
	box-shadow: 1px 1px #000;
	padding: 10px 0px;
	margin-bottom: 25px;
	width: 3em;
	transition: .4s;
	opacity: 0;
}
#filtrar-tabela:hover{
	width: 20em;
	opacity: 1;
}

.campo{
	margin: 5px;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
	border-radius: 5px;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 98%;
	display: block;
	padding: 10px 0px;
}

.obs{
	color: rgb(85, 100, 70);
	font-size: 14px;
	text-align: right;
}

#buscar-pacientes{
	padding: .5em 2em;
	border: none;
	border-bottom: 4px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: -3px;
	color: #fff;
	background-color:rgb(70, 150, 75);
	border-color: rgb(60, 90, 60);
  	display: block;
  	margin: 10px 0px;
	border-radius: 5px;
	width: 100%;
	text-align: center;
}
#buscar-pacientes:hover{
	background-color:rgb(115, 195, 120);
}
#buscar-pacientes:active{
	border-radius: 8px;
	border-top: 4px solid;
	border-bottom: none;
}

#adicionar-paciente{
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
	font-size: 1.2em;
	height: 2em;
	padding: .5em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px rgb(85, 100, 70);
	color: #fff;
	background-color:rgb(70, 150, 75);
	border-color: rgb(60, 90, 60);
	transition: 1s;
	left: 90%;
}
#adicionar-paciente:hover{
	background-color:rgb(115, 195, 120);
	box-shadow: 2px 2px rgb(85, 100, 70);
}
#adicionar-paciente:active{
	box-shadow: none;
	transition: 0s;
}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

#mensagens-erro{
    color: white;
    background-color: rgba(231, 50, 50, .6);
	margin: 6px;
	padding: 6px;
	border-radius: 7px;
	margin-bottom: 20px;
	display: block;
	animation: fadeIn .6s ease-in;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.invisivel{
	display: none;
}

::placeholder{
	margin-left: 3px;
}

footer{
	background-color: rgba(0, 0, 0, .1);
}

footer p{
	position: relative;
	text-align: center;
	padding: 6px;
}
