//SASS
$verde-base:rgb(70, 150, 75);
$border-color:rgb(60, 90, 60);
$verde-claro: rgb(115, 195, 120);
/*Structure*/
*{
	box-sizing: border-box;
}
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.container{
	width: 75%;
	height: 100%;
    margin: 0 auto;
    
    h2{
        font-size: 3em;
        display: block;
        padding-bottom: .5em;
        border-bottom: 1px solid #ccc;
        margin-bottom: .5em;
    }
}
/*Filtro*/
label{
	color: #555;
	margin: 1em;
	font-weight: bold;
}
#filtrar-tabela{
	position: relative;
	border-radius: 25px;
	border: none;
	box-shadow: 1px 1px 5px #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3em;
	margin-bottom: 25px;
	width: auto;
    transition: .7s;
    
    &:focus,	
    &:hover{
	box-shadow: 3px 3px 10px #000;
    }
}

label[for="filtrar-tabela"]::after{
	content: '';
	margin-left: 1em;
	z-index: 1;
	background-image: url(/img/lupa-icon.png);
	position: absolute;
	width: 2.2em;
	height: 2.2em;
	background-size: 100%;
}

/*Header*/
header{
	background-color: #333;
	height: 3em;
	color: #FFF;
    margin-bottom: 1em;
    
    h1{
        font-size: 2em;
        display:inline-block;
        vertical-align:	middle;
    }

    h2{
        font-size: 2em;
        display:inline-block;
        vertical-align:	middle;
        position: absolute;
        left: 2%;
        top:1%;
    }

    &:before{
        content: '';
        display:inline-block;
        height: 100%;
        vertical-align:	middle;
    }
}
/*Table*/
table{
	width: 100%;
	margin-bottom : .5em;
	table-layout: fixed;

    td, th {
        padding: .7em;
        margin: 0;
        border: 1px solid #ccc;
        text-align: center;
    }
    
    th{
        font-weight: bold;
        background-color: $verde-base;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
    }
    tr{
        border: solid .5px rgb(172, 179, 171);
        height: 2em;
    }
}
.obs{
	color: rgb(85, 100, 70);
	text-align: right;
}

/*Buscar*/
#buscar-pacientes{
	padding: .5em 2em;
	border: none;
	border-bottom: 4px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: -3px;
	color: #fff;
	background-color:$verde-base;
	border-color: $border-color;
  	display: block;
  	margin: 10px 0px;
	border-radius: 5px;
	width: 100%;
	text-align: center;

    &:focus,
    &:hover{
        background-color:$verde-claro;
    }
    &:active{
        border-radius: 8px;
        border-top: 4px solid;
        border-bottom: none;
    }
}

/*Form*/
fieldset{
    border: 1px solid #ccc;
	margin-bottom: 4em;
	padding: 0 1em;
	border-radius: 7px;
}

.input-form{
	margin: 5px;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
    border-radius: 5px;
    
    &:focus{
        box-shadow: 2px 2px 5px $verde-claro;
    }
}
.grupo{
	width: 98%;
	display: block;
	padding: 10px 0px;
}

#adicionar-paciente{
    position: relative;
    float: right;
    margin: 1em;
	font-size: 1.2em;
	height: 2em;
	padding: .5em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px $border-color;
	color: #fff;
	background-color:$verde-base;
	border-color: $border-color;
	transition: 1s;

    &:focus,
    &:hover{
        background-color: $verde-claro;
	    box-shadow: 2px 2px $border-color;
    }
    &:active{
        background-color:$verde-claro;
        box-shadow: none;
        transition: 0s;
    }
}

/*Erro*/
#mensagens-erro{
    color: white;
    background-color: rgba(231, 50, 50, .6);
    font-size: 1.2em;
	margin: 1em;
	padding: 1em;
	border-radius: 7px;
	margin-bottom: 20px;
	display: block;
	animation: fadeIn .6s ease-in;
}

/*Delete*/
.fadeOut {
    opacity: 0;
    transition: 0.5s;
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.invisivel{
	display: none;
}

/*Footer*/
footer{
	background-color: rgba(0, 0, 0, .1);
	position: fixed;
	bottom: 0px;
    width: 100%;
    
    p{
        text-align: center;
        padding: 6px;
    }
}

