#mensagens-erro{
    color: white;
    background-color: rgba(231, 50, 50, .6);
    font-size: 1.2em;
	margin: 1em;
	padding: 1em;
	border-radius: 7px;
	margin-bottom: 20px;
	display: block;
	animation: fadeIn .6s ease-in;
}