header{
	background-color: $header-color;
	height: 4em;
	color: #FFF;
    
    h1{
        font-size: 2em;
        display:inline-block;
        vertical-align:	middle;
    }

    h2{
        position: absolute;
        display:inline-block;
        font-size: 2em;
        top: .5em;
        left: 1em;
    }

    label[for="titulo"]::before{
        content: '';
        background-image: url("../../img/logo.png");
        position: relative;
        height: 10px;
        width: 10px;
        border-radius: 100%;
    }
}